# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/
wheelhouse/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django / Flask / databases
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments and virtualenvs
.env
.env.*
!.env.example
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/
__pypackages__/

# pyenv
.python-version

# pipenv / poetry
Pipfile.lock
poetry.lock

# Editor / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.spyderproject
.spyproject

# Misc
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Tool caches
.mypy_cache/
.pyre/
.ropeproject/
docs/_build/
target/
.scrapy/
*.sage.py
celerybeat-schedule
celerybeat.pid
solver_log.txt
winning_strikes/
